@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.filters {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media (max-width: $bp-laptop) {
    width: 100%;
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;
    gap: 1rem;
  }
}

.filter {
  position: relative;
  color: $color-white;
  transition: flex-grow $transition-fast;
  font-size: 0.875rem;

  &[aria-haspopup='true'] {
    flex-grow: 1;
  }

  @media (max-width: $bp-laptop) {
    width: 100%;
  }
}

.filter__button {
  min-width: 14rem;
  width: 100%;
  height: 4rem;
  padding-inline: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: inherit;
  cursor: pointer;
  border-radius: $rounded;
  outline: 0.125rem solid transparent;
  outline-offset: 0.25rem;
  transition: background-color $transition-fast, outline-color $transition-fast;

  @media (max-width: $bp-laptop) {
    min-width: 100%;
  }

  &[data-filter-category='ingredients'] {
    background-color: map-get($color-blue, 'default');
  }

  &[data-filter-category='appliances'] {
    background-color: map-get($color-green, 'default');
  }

  &[data-filter-category='ustensils'] {
    background-color: map-get($color-red, 'default');
  }

  &[aria-expanded='true'] .filter__button-icon {
    transform: rotate(0deg);
  }

  &:hover {
    &[data-filter-category='ingredients'] {
      background-color: map-get($color-blue, 'dark');
    }

    &[data-filter-category='appliances'] {
      background-color: map-get($color-green, 'dark');
    }

    &[data-filter-category='ustensils'] {
      background-color: map-get($color-red, 'dark');
    }
  }

  &:focus-visible {
    &[data-filter-category='ingredients'] {
      outline-color: map-get($color-blue, 'light');
    }

    &[data-filter-category='appliances'] {
      outline-color: map-get($color-green, 'light');
    }

    &[data-filter-category='ustensils'] {
      outline-color: map-get($color-red, 'light');
    }
  }
}

.filter__button-text {
  text-transform: capitalize;
}

.filter__button-icon {
  height: 1.5rem;
  width: 1.5rem;
  transform: rotate(180deg);
  transition: transform $transition-fast;
}

.filter__dropdown {
  background-color: inherit;
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 32rem;
  overflow-y: auto;
  top: calc(100% + 1rem);
  left: 0;
  padding: 2rem;
  border-radius: $rounded;
  animation: fade-in $transition-fast;

  &:not([hidden]) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($color-white, 0.15);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color-white, 0.25);
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($color-white, 0.5);
  }

  &[data-filter-category='ingredients'] {
    background-color: map-get($color-blue, 'default');
  }

  &[data-filter-category='appliances'] {
    background-color: map-get($color-green, 'default');
  }

  &[data-filter-category='ustensils'] {
    background-color: map-get($color-red, 'default');
  }
}

.filter__label {
  position: relative;
}

.filter__label-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.filter__input {
  width: 100%;
  height: 3.5rem;
  color: inherit;
  background-color: rgba($color-white, 0.15);
  border: none;
  border-radius: $rounded;
  padding-inline: 3.5rem 1rem;
  outline: 0.125rem solid transparent;
  transition: outline-color $transition-fast;

  &:disabled {
    cursor: not-allowed;

    &:hover {
      outline-color: transparent;
    }
  }

  &:disabled::placeholder {
    color: $color-white;
  }

  @media (max-width: $bp-mobile) {
    height: 3rem;
  }

  &::placeholder {
    color: rgba($color-white, 0.5);
  }

  &:hover {
    outline-color: rgba($color-white, 0.25);
  }

  &:focus-visible {
    outline-color: $color-white;
  }
}

.filter__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;

  @media (max-width: $bp-laptop) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: $bp-tablet) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (max-width: $bp-mobile) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &[no-results] {
    display: none;
  }
}

.filter__item {
  &[filtered] {
    display: none;
  }

  &[selected] {
    opacity: 0.5;
  }
}

.filter__item-button {
  @include truncate;
  width: 100%;
  height: 3rem;
  padding-inline: 1rem;
  background-color: rgba($color-white, 0.1);
  border: none;
  border-radius: $rounded;
  color: inherit;
  outline: 0.125rem solid transparent;
  cursor: pointer;
  transition: outline-color $transition-fast, background-color $transition-fast;

  &:disabled {
    cursor: not-allowed;

    &:hover {
      background-color: rgba($color-white, 0.1);
    }
  }

  &:is(:hover, :focus-visible) {
    background-color: rgba($color-white, 0.2);
  }

  &:focus-visible {
    outline-color: $color-white;
  }
}
