@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.header {
  margin-block: 4rem;
  margin-inline: auto;

  @media (max-width: $bp-mobile) {
    margin-block: 3rem;
  }
}

.header__title {
  @include sr-only;
}

.header__logo {
  height: 5rem;
  color: $color-primary;

  @media (max-width: $bp-mobile) {
    height: 4rem;
  }
}
